<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>snapp calc</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/assets/media/image/favicon.png">

	<!-- Theme Color -->
	<meta name="theme-color" content="#5867dd">

	<!-- Plugin styles -->
	<link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

	<!-- Datepicker -->
	@RenderSection("CssDate",false)
	<link rel="stylesheet" href="~/vendors/datepicker/daterangepicker.css">

	<!-- App styles -->
	<link rel="stylesheet" href="~/assets/css/app.css" type="text/css">
	@RenderSection("Css",false)

</head>

<body>

	<!-- begin::page loader-->
	<div class="page-loader">
		<div class="spinner-border"></div>
	</div>
	<!-- end::page loader -->

	<!-- begin::navigation -->
	<div class="navigation">
		<div class="navigation-icon-menu">
			<ul>
				<li data-toggle="tooltip" title="صفحات">
					<a href="#navigationPages" title="صفحات کاربری">
						<i class="icon ti-user"></i>
					</a>
				</li>
			</ul>
			<ul>
				<li data-toggle="tooltip" title="ویرایش پروفایل">
					<a href="#" class="go-to-page">
						<i class="icon ti-settings"></i>
					</a>
				</li>
				<li data-toggle="tooltip" title="خروج">
					<a href="~/Authentication/LogOut" class="go-to-page">
						<i class="icon ti-power-off"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="navigation-menu-body">
			<ul id="navigationPages">
				
				<li><a href="~/home">صفحه شروع</a></li>
				<li>
					<a href="#">گزارشات</a>
					<ul>
						<li><a href="~/report">لسیت همه ی سفر ها</a></li>
						<li><a href="~/report/DayReports">لیست گزارشات روزانه</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- end::navigation -->

	<!-- begin::header -->
	<div class="header">

		<!-- begin::header logo -->
		<div class="header-logo">
			<a href="index.html">
				<img class="large-logo" src="~/assets/media/image/logo.png" alt="image">
				<img class="small-logo" src="~/assets/media/image/logo-sm.png" alt="image">
				<img class="dark-logo" src="~/assets/media/image/logo-dark.png" alt="image">
			</a>
		</div>
		<!-- end::header logo -->

		<!-- begin::header body -->
		<div class="header-body">


			<div class="header-body-right">
				<!-- begin::navbar main body -->
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a href="~/report/add" class="nav-link">
							<i class="ti-plus"></i>
						</a>
					</li>
				</ul>
				<!-- end::navbar main body -->

				<div class="d-flex align-items-center">
					<!-- begin::navbar navigation toggler -->
					<div class="d-xl-none d-lg-none d-sm-block navigation-toggler">
						<a href="#">
							<i class="ti-menu"></i>
						</a>
					</div>
					<!-- end::navbar navigation toggler -->

					<!-- begin::navbar toggler -->
					<div class="d-xl-none d-lg-none d-sm-block navbar-toggler">
						<a href="#">
							<i class="ti-arrow-down"></i>
						</a>
					</div>
					<!-- end::navbar toggler -->
				</div>
			</div>

		</div>
		<!-- end::header body -->

	</div>
	<!-- end::header -->

	<!-- begin::main content -->
	<main class="main-content">
		@RenderBody()
	</main>
	<!-- end::main content -->

	<!-- Plugin scripts -->
	<script src="~/vendors/bundle.js"></script>

	<!-- Chartjs -->
	<script src="~/vendors/charts/chartjs/chart.min.js"></script>

	<!-- Circle progress -->
	<script src="~/vendors/circle-progress/circle-progress.min.js"></script>

	<!-- Datepicker -->
	@RenderSection("DateB",false)
	<script src="~/vendors/datepicker/daterangepicker.js"></script>
	@RenderSection("DateN",false)
	<!-- Dashboard scripts -->
	@*<script src="~/assets/js/examples/dashboard.js"></script>*@
	@RenderSection("Dashboard",false)
	<div class="colors">
		<!-- To use theme colors with Javascript -->
		<div class="bg-primary"></div>
		<div class="bg-primary-bright"></div>
		<div class="bg-secondary"></div>
		<div class="bg-secondary-bright"></div>
		<div class="bg-info"></div>
		<div class="bg-info-bright"></div>
		<div class="bg-success"></div>
		<div class="bg-success-bright"></div>
		<div class="bg-danger"></div>
		<div class="bg-danger-bright"></div>
		<div class="bg-warning"></div>
		<div class="bg-warning-bright"></div>
	</div>

	<!-- Peity -->
	<script src="~/vendors/charts/peity/jquery.peity.min.js"></script>
	<script src="~/assets/js/examples/charts/peity.js"></script>

	<!-- App scripts -->
	<script src="~/assets/js/app.js"></script>
	@RenderSection("Script",false)
</body>

</html>
